<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% render 'css-variables' %}

    {% unless settings.type_heading_font.system? %}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
      {{ settings.type_heading_font | font_url | preload_tag: as: 'font', crossorigin: 'anonymous' }}
    {% endunless %}

    {% unless settings.type_body_font.system? %}
      {% if settings.type_body_font != settings.type_heading_font %}
        {{ settings.type_body_font | font_url | preload_tag: as: 'font', crossorigin: 'anonymous' }}
      {% endif %}
    {% endunless %}

    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    {% sections 'header-group' %}

    <main id="main" role="main">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    {% render 'whatsapp-button' %}
  </body>
</html>
